/* normalize */
* {margin: 0; padding: 0; box-sizing: border-box;}

/* layout */
main {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .panel {
    display: flex;
    justify-content: space-between;
  }
}

/* config */
@bg-color: #b7d4a8;
@border-color: #000;
@snake-color: #000;
@food-color: #000;

/* style */
body {
  font: bold 20px "Courier";
}

main {
  width: 360px;
  height: 420px;
  background-color: @bg-color;
  border: 10px solid @border-color;
  border-radius: 20px;
  .stage {
    width: 304px;
    height: 304px;
    border: 2px solid @border-color;
    position: relative;
    .snake>div {
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: @snake-color;
      border: 0.5px solid @bg-color;
    }
    .snake>.snake-head {
      border: 0.1px solid @bg-color;
      border-radius: 2px;
      z-index: 1;
      display: flex;
      justify-content: space-around;
      align-items: center;
      &::before,
      &::after {
        content: '';
        display: inline-block;
        width: 2px;
        height: 2px;
        background-color: #fff;
        border-radius: 50%;
      }
    }
    .food {
      position: absolute;
      left: 40px;
      top: 40px;
      width: 10px;
      height: 10px;
      display: flex;
      border: 0.5px solid @bg-color;
      // flex-direction: row;
      // flex-wrap: wrap; 
      flex-flow: row wrap; // 等效上面两行
      justify-content: space-between;
      align-content: space-between;
      >div{
        width: 4px;
        height: 4px;
        background-color: @food-color;
        transform: rotate(45deg);
      }
    }
  }
  .panel {
    width: 304px;
  }
}